@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body{font: 14px 'Noto Sans KR', sans-serif; color: #444; background-color: #EEECE5;}
main{position: relative; margin-top: 9px;}
.test{width: 100%; opacity: .5; position: fixed; z-index: 1000; display: none;}
.view-page{position: relative;}
.view-page.section2{display: none;}
/* font color */
.bk {color: #000; font-weight: 500;}
.gray {color: #858585; font-weight: 500;}

/* header */
.header-list{padding: 0 30px; display: flex; justify-content: space-between; align-items: center;}
.header-list .header-title{font-size: 18px;}
.header-item .img-profile{display: block;}
.header-item .header-icon{display: inline-block;}
.header-item .header-icon:last-child{margin-left: 13px;}
/* .header-item img{width: 100%;} */

/* nav */
.menu-bar{position: fixed; bottom: 0; width:100%; background: linear-gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%); padding: 24px 0; }
.menu-list{display: flex; justify-content: space-around; }

/* info-box */
.info-box{height: 155px; width: 279px; position: relative; padding: 14px 17px 0 17px; margin: 30px auto 0; border-radius: 12px; background: #FFFFFF; box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19); box-sizing: border-box;}
.info-box > *{text-align: center;}
.account-total{font-size: 24px; letter-spacing: 2px; margin: 16px 0;}
.account-total span{font-size: 14px;}
.ad-box{text-align: center; margin-top: 24px;}
.ad-box a{margin-left: 6px; text-decoration: underline;}
.transfer-btn {position: absolute; top: 14px; right: 17px;}
.account-bar-area{display: flex; justify-content: space-between; align-items: center; }
/* .account-bar-area > * {border: 1px solid darkblue; box-sizing: border-box; } */
.bar-cont{width: 100%; padding: 0 15px; }
.bar{width: 100%; height: 6px; position: relative; background: #C4C4C4; border-radius: 3px;}
.bar-btn{position: absolute; width: 4px; height: 17px; left: 0px; top: 50%; transform: translateY(-50%); background: #FF5F00; border: 2px solid #FFFFFF; border-radius: 2px;}

.bottom-section{width:100%; height: 383px; position: relative; bottom:-29%; background: #F5F5F5; box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08); border-radius: 30px 30px 0px 0px; padding: 23px 36px; margin-top: 24px; box-sizing: border-box; overflow: hidden;}
.bottom-section::before{content: ''; display: block; width: 48px; height: 3px; background: #C4C4C4; border-radius: 4px; position: absolute; top: 5px; left: 50%; transform: translateX(-50%);}


.goal-box{overflow-x: scroll;  }
.goal-wrap{width: 160%;}
.goal-wrap > *{float: left;}
.goal-list{overflow: hidden; ;}
.goal-list .goal-item{position:relative; width: 162px; height: 47px; display: inline-block; overflow: hidden; background: #DADADA; border-radius: 6px; box-sizing: border-box; }
.goal-list .goal-item:not(:last-child){margin-right: 15px;}
.goal-item-color-box{position: absolute; top: 0; left: 0; width: 70%; height: 100%; padding: 5px 13px; box-sizing: border-box;  font-size: 12px; color: #fff;}
.goal-item:nth-child(1) .goal-item-color-box{background-color: #FF5F00;}
.goal-item:nth-child(2) .goal-item-color-box{background-color: #FEB700;}
.goal-add{height: 47px; display: flex; align-items: center; margin-left: 15px;}
.goal-add span{margin-left: 6px; color: #FF5F00;}

.detail-date-list{margin-top: 16px; overflow-y: scroll;}
.detail-date-list li.detail-date-item{height: auto;}
.detail-date-list li:not(:first-child){margin-top: 38px;}
.detail-date-list li.detail-date-item .date-tit{font-size: 14px; font-weight: bold; display: inline-block;}
.detail-date-list li.detail-date-item .date-total{float: right;}
.detail-date-list ul.day-list li{font-size: 18px; margin-top: 8px; padding-bottom: 7px; border-bottom: 1px solid #DCDCDC;}
.detail-date-list ul.day-list li .day-cont-total{float: right;}